// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

// Vertical typography rhythm from https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm
$type-settings: (
	-3: (
		font-size: 1.4rem,
		line-height: 1.8rem
	),
	-2: (
		font-size: 1.8rem,
		line-height: 2.2rem
	),
	-1: (
		font-size: 2.25rem,
		line-height: 3rem
	),
	0: (
		font-size: 3rem,
		line-height: 3.4rem
	),
	1: (
		font-size: 4rem,
		line-height: 4.5rem
	),
	2: (
		font-size: 5.3rem,
		line-height: 6rem
	),
	3: (
		font-size: 7.2rem,
		line-height: 9rem
	)
);

@function type-scale($level) {
	@return map-get(
			map-get($type-settings, $level), 'font-size');
}

@function font-weight($level) {
	@return map-get(
			map-get($type-settings, $level), 'font-weight');
}

@function line-height($level) {
	@return map-get(
			map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
	font-size: type-scale($level);
	line-height: line-height($level);
}

@mixin type-family() {
	font-family: $font-family;
}

html {
	font-family: $font-family;
	font-size: 10px;
}

body {
	@include type-setting(-1);
	font-weight: normal;
}