.a-button {
	@include type-setting(-2);
	@include ellipsis(100%);
	font-family: $font-family;
	background-color: $color-green;
	border: none;
	text-align: center;
	color: white;
	min-width: 120px;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	padding: 0 $spacing;
	
	-webkit-appearance: none;
	
	line-height: 40px;
	
	@include media($medium-up) {
		line-height: 48px;
		min-width: 160px;
	}
	
	&:hover {
		cursor: pointer;
		outline: none;
		background-color: white;
	}
	
	&:active {
		transform: scale(.95);
	}

}